{% extends "base.html" %}
{% block content %}
  <h1>Add Information</h1>
    {% if form.errors %}
        {% for error in form.errors %}
          <p class="alert alert-dismissible alert-warning">Problem with {{ error }}.</p>
        {% endfor %}
    {% endif %}
  <form method="POST" action="/web/information/add" enctype="multipart/form-data" >
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title }}
    </div>
    <div class="form-group">
        {{ form.content.label }}
        {{ form.content }}
    </div>
        <div class="form-group">
        {{ form.photo.label }}
        {{ form.photo }}
    </div>
    <div class="form-group">
        {{ form.beacon.label }}
        {{ form.beacon }}
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Add" >
    </div>

  </form>
{% endblock %}