{% extends "base.html" %}
{% block content %}
    <a class="btn btn-primary" href="{{ url_for('information_create') }}">Add New</a>
    <h1>Information</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Title</th>
                <th>Content</th>
                <th>Beacon</th>
            </tr>
        </thead>
        <tbody>
        
            {% for information in informations %}

            <tr>
            
                <td><a href="{{ url_for('information_detail', information_id=information.id)}}">
                <img src="{{ url_for('photo', photo_id=information.photo_id)}}" height="100px" /></a></td>
                <td>{{ information.title }}</td>
                <td>{{ information.content }}</td>
                <td>{{ information.beacon }}</td>
                <td><a class="btn" href="{{ url_for('information_delete', information_id=information.id) }}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
            
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
