{% extends "base.html" %}
{% block content %}
    <img style="float:right" src="{{ url_for('photo', photo_id=information.photo_id)}}" height="600px" />
    <h1>{{ information.title }}</h1>
    <p>{{ information.content }}</p>
    
    <h4>Beacon</h4>
    <p>Name: {{ information.beacon }}</p>
    <p>UUID: {{ information.beacon.uuid }}</p>

    <div id="map" style="width:600px;height:500px;">></div>

    <script>
      function initMap() {
        var position = new google.maps.LatLng({{ information.beacon.long_position }}, {{ information.beacon.lat_position }});
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: position,
          zoom: 15
        });
        var marker = new google.maps.Marker({
        position: position,
        map: map,
        title:"This is the place."
    });

      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>

{% endblock %}