{% extends "base.html" %}
{% block content %}
    <a class="btn btn-primary" href="{{ url_for('photo_create') }}">Add New</a>
    <h1>Photo</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Filename</th>
            <th>Photo</th>
        </tr>
        </thead>
        <tbody>
            {% for photo in photos %}
            <tr>
                <td>{{ photo.filename }}</td>
                <td><img src="{{ url_for('photo', photo_id=photo.id )}}" height="100px" /></td>
                <td><a class="btn" href="{{ url_for('photo_delete', photo_id=photo.id) }}">
                     <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}