{% extends "base.html" %}
{% block content %}
  <h1>Add Photo</h1>
    {% if form.errors %}
        {% for error in form.errors %}
          <p class="alert alert-dismissible alert-warning">Problem with {{ error }}.</p>
        {% endfor %}
    {% endif %}
  <form method="POST" action="/web/photo/add" enctype="multipart/form-data" >
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.filename.label }}
        {{ form.filename }}
    </div>
    <div class="form-group">
        {{ form.img.label }}
        {{ form.img }}
    </div>

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Add" >
    </div>
  </form>
{% endblock %}