<html>
  <head>
    <title>{% block title %}Beacon{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    {% block header %}

    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('home') }}">Beacon Guide</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="btn" href="{{ url_for('information_list') }}">Information <span class="sr-only">(current)</span></a></li>
            <li><a class="btn" href="{{ url_for('beacon_list') }}">Beacons <span class="sr-only">(current)</span></a></li>
            <li><a class="btn" href="{{ url_for('photo_list') }}">Photo <span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                  <li><a class="btn" href="/logout"> Logout <span class="sr-only">(current)</span></a></li>
                {% else %}
                  <li><a class="btn navbar-right" href="/login">Login <span class="sr-only">(current)</span></a></li>
                {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
        {% block login%}

        {% endblock %}

        {% if current_user.is_authenticated %}
            {% block content %}

            {% endblock %}
        {% endif %}
    </div>
    {% block footer %}

    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>