{% extends "base.html" %}
{% block content %}
    <a class="btn btn-primary" href="{{ url_for('information_create') }}">Add New</a>
    <h1>Information</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Information</th>
                <th>Beacon</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        
            {% for statistic in statistics %}

            <tr>
                <td><a href="{{ url_for('information_detail', information_id=statistic.info_id)}}">
                    {{ statistic.info_title }}</a></td>
                <td>{{ statistic.beacon }}</td>
                <td>{{ statistic.value }}</td>
            
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
