{% extends "base.html" %}
{% block content %}
    <a class="btn btn-primary" href="{{ url_for('beacon_create') }}">Add New</a>
    <h1>Beacons</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>UUID</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
            {% for beacon in beacons%}

            <tr>
                <td>{{ beacon.name }}</td>
                <td>{{ beacon.uuid }}</td>
                <td>{{ beacon.long_position }}, {{ beacon.lat_position }}</td>
                <td><a class="btn" href="{{ url_for('beacon_delete', beacon_id=beacon.id) }}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}