{% extends "base.html" %}
{% block content %}
  <h1>Add Beacon</h1>
    {% if form.errors %}
        {% for error in form.errors %}
          <p class="alert alert-dismissible alert-warning">Problem with {{ error }}.</p>
        {% endfor %}
    {% endif %}
  <form class="form-horizontal" method="POST" action="/web/beacon/add" >
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.uuid.label }}
        {{ form.uuid }}
      </div>
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name }}
    </div>
    <div class="form-group">
        {{ form.long_position.label }}
        {{ form.long_position }}
      </div>
    <div class="form-group">
        {{ form.lat_position.label }}
        {{ form.lat_position }}
      </div>
    <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Add" >
    </div>
  </form>
{% endblock %}