{% extends "base.html" %}
{% block content %}
  <h1>Add Information</h1>
    {% if form.errors %}
        {% for error in form.errors %}
          <p class="alert alert-dismissible alert-warning">Problem with {{ error }}.</p>
        {% endfor %}
    {% endif %}
    {% for message in get_flashed_messages()%}
        <p class="alert alert-dismissible alert-warning">{{ message|safe }}</p>
    {% endfor %}

  <form method="POST" action="/web/register" enctype="multipart/form-data" >
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.first_name.label }}
        {{ form.first_name }}
    </div>
    <div class="form-group">
        {{ form.last_name.label }}
        {{ form.last_name }}
    </div>
        <div class="form-group">
        {{ form.email.label }}
        {{ form.email }}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password }}
    </div>
    <div class="form-group">
        {{ form.repeat_password.label }}
        {{ form.repeat_password }}
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Add" >
    </div>

  </form>
{% endblock %}